<h2 
  x-data="{ shown: false }" 
  x-intersect.half:enter="shown = true"
  x-intersect.half:leave="shown = false"
  :class="shown ? 'opacity-100 translate-y-0' : 'opacity-0 translate-y-8'"
  class="{{ class }}"
>
  {{ title }}
</h2>