<div
    x-data="{ open: false }"
    @open-cart-drawer.window="
      open = true;
    "
    @keydown.escape.window="
      open = false;
    "
    class='z-[9999] fixed'
  >
    <!-- Backdrop -->
    <div 
      x-show="open"
      class="drawer-backdrop"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      @click="
        open = false;
      "
      x-cloak
    ></div>

    <!-- Drawer -->
    <div
      x-show="open"
      x-cloak
      x-transition:enter="transform transition ease-in-out duration-500"
      x-transition:enter-start="translate-x-full"
      x-transition:enter-end="translate-x-0"
      x-transition:leave="transform transition ease-in-out duration-500"
      x-transition:leave-start="translate-x-0"
      x-transition:leave-end="translate-x-full"
      class="fixed right-0 top-0 h-full max-w-[390px] lg:max-w-[446px] w-full bg-white text-contrast shadow-lg"
      role="dialog"
      aria-modal="true"
    >
      <div class="h-full flex flex-col">
        <div class="flex justify-between items-center px-6 py-2 border-b border-contrast/20">
          <span class="uppercase font-medium tracking-wider text-body">Cart</span>
          <button @click="open = false" class='transform hover:rotate-90 transition-transform duration-500 w-10 h-10 flex justify-center items-center bg-contrast text-white rounded-full'>
            <span class="sr-only">Close</span>
            <span class='w-6 h-6 block'>{{- 'icon-close.svg' | inline_asset_content -}}</span>
          </button>
        </div>
        <form id="cart-drawer-form" action="{{ routes.cart_url }}" method="POST" class="px-6 pb-6 flex flex-col justify-between w-full flex-1 overflow-hidden">
          <div class='h-full flex flex-col'>
            <div class="flex-1 overflow-hidden flex flex-col">
              <div 
                id="cart-items" 
                class="overflow-y-scroll flex-1" 
                data-lenis-prevent
              >
                {% comment %} <template x-for="item in $store.cart.items" :key="item.key">
                  {% render 'cart-item', item: item %}
                </template> {% endcomment %}
                {% for item in cart.items %}
                  {% render 'cart-item', item: item %}
                {% endfor %}
                {% if cart.items.size == 0 %}
                  <p class="text-center text-sm opacity-50 py-12 uppercase">Your cart is empty</p>
                {% endif %}
              </div>
              <div class="py-4 total-text">
                <div class="flex justify-between items-center">
                  <p>Subtotal</p>
                  <p class="total">{{ cart.total_price | money }}</p>
                </div>
                <p class="text-sm opacity-50 mt-2">Shipping calculated at checkout.</p>
              </div>
            </div>
            <div class="cart-footer mt-4">
              <button type="submit" name="checkout" class="btn btn--black block w-full">Checkout</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


