<div class="wrapper py-8">
  <div class="grid gap-4">
    <ul class="w-full flex justify-center items-start gap-8">
      {% for menu_link in link.links %}
        <li class="flex flex-col items-center text-center gap-2">
          <a href="{{ menu_link.url }}" class="link flex flex-col items-center group">
            {% if menu_link.type == 'product_link' and menu_link.object %}
              {% assign product = menu_link.object %}
              {% if product.featured_image %}
                <div class="w-48 h-48 rounded-md overflow-hidden mb-4">
                  <img
                    src="{{ product.featured_image | image_url: width: 320 }}"
                    alt="{{ product.title | escape }}"
                    loading="lazy"
                    width="320"
                    height="320"
                    class="w-full h-full object-cover mx-auto mb-3 group-hover:scale-105 transition-all duration-500"
                  >
                </div>
              {% endif %}
            {% endif %}
            <span>{{ menu_link.title }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
