<div class="overflow-hidden md:sticky top-20">
  <div class="relative pb-20 lg:pl-20 gap-4">
    <div
      class="relative overflow-hidden aspect-square rounded-xl w-full product-gallery-swiper"
      style="margin: 0;"
    >
      <div class="swiper-wrapper">
        {% for image in product.media %}
          {% render 'responsive-image', image: image, wrapper_class: 'swiper-slide w-full h-full relative aspect-square bg-primary', image_class: 'w-full object-cover absolute' %}
        {% endfor %}
        <div class="bg-black absolute bottom-4 right-4 mix-blend-difference flex gap-2 justify-center">
          <button
            class="product-gallery-swiper-button-prev w-12 h-12 hover:opacity-100 duration-500 border border-black rounded-full"
          >
            {% comment %} <Image
              src={'/swiper-arrow.svg'}
              alt="swiper-arrow"
              width={56}
              height={56}
              class="h-12 w-12 opacity-50 hover:opacity-100 duration-500"
            ></Image> {% endcomment %}
          </button>
          <button
            class="product-gallery-swiper-button-next w-12 h-12 hover:opacity-100 duration-500 border border-black rounded-full"
          >
            {% comment %} <Image
              src={'/swiper-arrow.svg'}
              alt="swiper-arrow"
              width={56}
              height={56}
              class="h-12 w-12 transform rotate-180 opacity-50 hover:opacity-100 duration-500"
            ></Image> {% endcomment %}
          </button>
        </div>
      </div>
    </div>

    <div
      class="product-gallery-thumbs z-10 absolute bottom-0 lg:bottom-auto lg:top-0 left-0 w-full lg:w-16"
    >
      <div class="swiper-wrapper">
        {% for image in product.media %}
          {% render 'responsive-image', image: image, wrapper_class: 'swiper-slide w-16 h-16 relative aspect-square rounded-xl overflow-hidden', image_class: 'w-16 h-16 object-cover absolute' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>