<div
  class="wrapper{% if section.settings.wrapper_size == 'small' %} wrapper--small{% endif %}"
  data-section-type="apps"
  x-data="{ appsPresent: {{ section.blocks.size > 0 }} }"
  x-init="if (appsPresent) { $dispatch('toggle-lenis', { enabled: false }); }"
>
  {%- for block in section.blocks -%}
    <div data-block-type="{{ block.type }}">
      {% render block %}
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.apps.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "wrapper_size",
      "label": "Wrapper size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}
