{% assign menu = linklists[section.settings.menu].links %}

<div class="wrapper flex flex-col py-4">
  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 py-8 md:py-16 border-y border-white/20 gap-x-4 gap-y-8">
    <div class="col-span-2 md:col-span-1 lg:col-span-3 space-y-4 pb-8">
      {% render 'header-logo' %}
      <p class="w-40 lead">The Biology of Resilience</p>
    </div>
    {% for link in menu %}
      <div class="space-y-4">
        <h3 class="uppercase font-semibold font-body text-sm tracking-wide">
          {{ link.title }}
        </h3>
        <ul class="space-y-2">
          {% for item in link.links %}
            <li>
              <a href="{{ item.url }}" class="hover:opacity-50 duration-500">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
  <div class="flex flex-col sm:flex-row text-center sm:text-left justify-between pt-4 gap-2">
    <p class="text-sm opacity-50">
      &copy;{{ 'now' | date: '%Y' }} IRV Beauty, LLC
    </p>
    <p class="text-sm opacity-50">
      Site by
      <a
        href="https://wearestudiomelo.com"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        Studio Melo
      </a>
      &
      <a
        href="https://madebyverse.com"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        Verse
      </a>
    </p>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "bg-black text-white",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
