<div class="wrapper">
  <div class="grid md:grid-cols-3 mb-4 gap-4">
    {% render 'animated-heading', title: section.settings.heading, class: 'md:col-span-2 h2' %}
    <div class="transition-opacity duration-2500 ease-in-out prose" x-data="{ shown: false }" x-intersect:enter="shown = true" x-intersect:leave="shown = false" :class="shown ? 'opacity-100' : 'opacity-0'">
      {{ section.settings.description }}
    </div>
  </div>
  <div class="grid md:grid-cols-3 gap-4">
    {% for block in section.blocks %}
      <div class="space-y-4">
        {% render 'responsive-image', image: block.settings.image, wrapper_class: "", image_class: "w-full" %}
        <div class="z-10">
          <h3 class="text-base uppercase font-body tracking-wide font-semibold mb-2">
            {{ block.settings.heading }}
          </h3>
          <div class="prose">
            {{ block.settings.text }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Key Points",
    "tag": "section",
    "class": "section-key-points my-10 md:my-20",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      }
    ],
    "blocks": [
      {
        "type": "point",
        "name": "Point",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}