<div class="wrapper max-w-lg text-center space-y-4">
  {% render 'animated-heading', title: section.settings.heading, class: 'h3 text-balance' %}
  {% if section.settings.image %}
    {% render 'responsive-image', image: section.settings.image, wrapper_class: 'w-full relative', image_class: 'w-full h-full object-center' %}
  {% endif %}
  {{ section.settings.content }}
</div>

{% schema %}
  {
    "name": "Rich Text",
    "tag": "section",
    "class": "section-rich-text section", 
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      }
    ]
  }
{% endschema %}