{% assign featured_product = all_products[settings.featured_product] %}

  {% if section.settings.backgroundImage != blank %}
    {% render 'responsive-image', image: section.settings.backgroundImage, wrapper_class: "absolute inset-0 ", image_class: "object-cover absolute inset-0 h-full w-full" %}
  {% else %}
    <div class="hero-placeholder placeholder-image">
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg'  }}
    </div>
  {% endif %}
  <div class="wrapper text-primary">
    {% render 'animated-heading', title: section.settings.hero_heading, class: 'h1 max-w-3xl' %}
    <div class="flex justify-between w-full items-end">
      {% if section.settings.hero_content != blank %}
        <div class="max-w-xl">{{ section.settings.hero_content }}</div>
      {% endif %}
      {% if featured_product != blank and section.settings.show_featured_product %}
        {% render 'featured-product-card' %}
      {% endif %}
    </div>
  </div>

{% schema %}
{
  "name": "t:sections.home-hero.name",
  "tag": "section",
  "class": "w-full relative flex items-end justify-center home-hero h-screen-no-nav",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "backgroundImage",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "hero_heading",
      "label": "Hero Heading",
    },
    {
      "type": "richtext",
      "id": "hero_content",
      "label": "Hero Content",
    },
    {
      "type": "checkbox",
      "id": "show_featured_product",
      "label": "Show Featured Product",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "t:sections.home-hero.name",
      "settings": {
        "hero_content": "<p>Welcome to our store. Discover our unique collection of products.</p>",
      }
    }
  ]
}
{% endschema %}
