{% if section.settings.image %}
  {% render 'responsive-image', image: section.settings.image, wrapper_class: 'absolute w-full h-full inset-0 object-cover z-0', image_class: 'absolute object-cover inset-0 w-full h-full' %}
{% else %}
  {{ 'hero-apparel-3' | placeholder_svg_tag: 'absolute object-cover inset-0 w-full h-full bg-primary' }}
{% endif %}
<div class="wrapper relative max-w-xl text-center text-white z-10 flex flex-col items-center justify-center gap-4">
  {% render 'animated-heading', title: section.settings.title, class: 'h1 text-balance' %}
  <a href="{{ section.settings.button_link }}" class="btn btn--white">{{ section.settings.button_text }}</a>
</div>

{% schema %}
  {
    "name": "Call to Action",
    "tag": "section",
    "class": "section-cta py-48 overflow-hidden relative",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }
    ],
  }
{% endschema %}
