{% assign posts = blogs['posts'].articles | sort: 'published_at' | reverse | limit: 5 %}

<div class='wrapper overflow-visible'>
  <div class="flex flex-col md:flex-row gap-4 h-full justify-between md:items-end pb-6">
      {% render 'animated-heading', title: section.settings.title, class: 'h2' %}
      <a href="{{ window.shopUrl }}/blogs/{{ blog.handle }}" class="btn btn--outline">{{ section.settings.button_text }}</a>
  </div>
  <div class='featured-post-swiper'>
    <div class='swiper-wrapper'>
      {% for post in posts %}
        {% render 'blog-card', post: post, class: 'swiper-slide' %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured Posts",
    "tag": "section",
    "class": "section-featured-posts my-10 md:my-20",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }
    ]
  }
{% endschema %}