{% assign posts = blogs['posts'].articles | sort: 'published_at' | reverse | limit: 5 %}

<div class='wrapper overflow-visible'>
  <div class="flex flex-col md:flex-row gap-4 h-full justify-between md:items-end pb-6">
      <h2 class='h2' x-data="{ shown: false }" x-intersect:enter="shown = true" x-intersect:leave="shown = false" :class="shown ? 'opacity-100 translate-y-0' : 'opacity-0 translate-y-8'">{{ section.settings.title }}</h2>
      <a href="{{ window.shopUrl }}/blogs/{{ blog.handle }}" class="btn btn--outline">{{ section.settings.button_text }}</a>
  </div>
  <div class='featured-post-swiper'>
    <div class='swiper-wrapper'>
      {% for post in posts %}
        {% render 'blog-card', post: post, class: 'swiper-slide' %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured Posts",
    "tag": "section",
    "class": "section-featured-posts my-10 md:my-20",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }
    ]
  }
{% endschema %}