<div class="section section-text-and-image">
  <div class="wrapper">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="flex flex-col gap-4 justify-between">
        {% render 'animated-heading', title: section.settings.title, class: 'h2 sticky top-24' %}
        <div class="prose">
          {{ section.settings.text }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Text and Image",
    "tag": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "class": "section section-text-and-image",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "reverse_order",
        "label": "Reverse Order",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
