<div
  class='fixed z-[9999]'
  x-data="{ formDrawerOpen: false }"
  @toggle-form-drawer.window="formDrawerOpen = !formDrawerOpen;"
  @close-form-drawer.window="formDrawerOpen = false"
  @keydown.escape.winow="formDrawerOpen = false"
>
  <div x-cloak x-show="formDrawerOpen" class="drawer-backdrop" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" @click="$dispatch('close-form-drawer')"></div>

  <div
    x-cloak
    x-show="formDrawerOpen"
    x-transition:enter="transform transition ease-in-out duration-500"
    x-transition:enter-start="-translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transform transition ease-in-out duration-500"
    x-transition:leave-start="translate-x-0"
    x-transition:leave-end="-translate-x-full"
    class="fixed left-0 top-0 h-full w-full max-w-[446px] bg-primary text-contrast shadow-lg z-50"
    role="dialog"
    aria-modal="true"
  >
    <div class="p-4 h-full flex w-full flex-col">
      <div class="flex justify-between items-center">
        <h2 class="link">Retail Customers</h2>
        <button @click="$dispatch('close-form-drawer')" class="">&times;</button>
      </div>
      <div class="mt-24 flex-1 flex flex-col justify-between w-full custom-form-container">
        {% for block in section.blocks %}
          {% render block %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Stockist Form Drawer",
  
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "limit": 1
}
{% endschema %}