@font-face {
  font-family: "Matter";
  src: url("/assets/Matter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Matter";
  src: url("/assets/Matter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Matter";
  src: url("/assets/Matter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Body";
  src: url("/assets/TitlingGothic-CompressedStandard.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
